.container {
    height: 100vh;
}

.form-signin {
    width: 330px;
    padding: 15px;
    margin: auto;
}

.form-signin .checkbox {
    font-weight: 400;
}

.form-signin .form-floating:focus-within {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}






/* 
#loginForm {
    width: 220px;
    margin: 0 auto;
    text-align: center;

    
    
}
.bootstrapIcon {
    color: #780edb;
    height: 40px;
}
.btn-login {
    width: 100%;
    background: rgb(73, 87, 216);
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 5px 0px;
}
.inputEmail {
    width:100%;
    border: 1px solid #aaa;
    border-radius: 3px 3px 0px 0px;
    height: 40px;
    font-size: 12px;
    padding-left: 5px;  
    
}
.inputPassword {
    width: 100%;
    border: 1px solid #aaa;
    border-radius: 0px 0px 3px 3px; 
    height: 40px;
    font-size: 12px; 
    padding-left: 5px;   
}
.checkbox {
    margin-right: 5px;
} */